* {
	margin: 0;
	padding: 0; 
}

body {
	font-family: "Arial";
	font-size: 12px;
	color:#333;
}

a {
	text-decoration: none;
}
	
a:hover {
	text-decoration: underline;
}

h1 {
    margin-bottom:10px;
}

hr {
    border:#ccc solid 1px;
}
	
#geral {
	width: 920px;
	margin: 0 auto;
}

#header {
	padding:15px 0px;
}

#container {
	min-height: 300px;	
}

#footer {
	padding: 15px 0px;
	font-size: 10px;
	border-top:#DDD solid 1px;
	margin: 15px 0px;
}

#footer .copyright {
	font-size: 10px;
}
