<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}NwSilex-Skeleton{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="{{ asset('/css/styles.css') }}" type="text/css" />
    {% block head %}{% endblock %}
</head>
<body>
	
	<div id="geral">
	    <div id="header">
	    	<a href="/"><img src="{{ asset('/images/logo.png') }}" border="0" /></a>
	    </div>
	    	
		<div id="container">
			{% block container %}
			{% endblock %}
		</div>

		<div id="footer">
			<span class="copyright">copyright &copy; Todos os direitos reservados.</span>
		</div>
	</div>
	<script type="text/javascript" src="{{ asset('/js/jquery-1.10.2.min.js') }}"></script>
	{% block script_inline %}{% endblock %}
</body>
</html>
